casesPerDay2020-03-*.000000000.png
casesPerDay2020-04-*.000000000.png
historyThroughJune.png
historyTwoMonthsToPeak.png
hospitalizedPerDayHistory.png
hospitalizedPerDayHistoryRaw.png
hospitalizedPerDayHistoryRptDtVsInDt.png
hospitalizedPerDayHistoryRptDtVsInDtRaw.png
hospitalizedPerDayRecentHistory.png
recentHistoryNov2.png
theFullStoryWave1.png
theFullStoryWave1Smoothed.png
theFullStoryWave2.png
theFullStoryWave2Smoothed.png
theFullStoryWave3.png
theFullStoryWave3Smoothed.png
theFullStoryWave4.png
theFullStoryWave4Smoothed.png
twoMonthsToOctPeak.png
__pycache__
